<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=divice-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RODE</title>
	<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
</head>

<body>
	<div class="d-flex align-items-center tamaño-minimo">
		 <div class="container text-center">
			<h1 class="fw-bold texto-cyan">RODE</h1>
			<p class="fw-normal text-white pb-3">LA MEJOR APP PARA ORGANIZAR TUS DEUDORES</p>
			<div class="container">
				<a class="btn boton fw-bold px-4 py-2" href="second.html">BIENVENIDO</a>
			</div>
		 </div>
	  </div>

	<script src="../js/main.js"></script>
</body>

</html>