<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=divice-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>RODE</title>
      <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/styles.css">
   </head>

   <body>
      <main class="container">
         <h2 class=" pt-3 text-center text-white font-weight-bold">NUEVO DEUDOR</h2>

         <div class="container ">
            <div class="row">
               <div class="col-3"></div>
               <div class="col-6">
                  <hr>
               </div>
               <div class="col-3"></div>
            </div>
         </div>

         <h5 class="text-white">Nombre</h5>
         <input class="form-control  my-2" type="text" placeholder="Nombre" aria-label="default input example" >
         <h5 class="text-white">Apellido</h5>
         <input class="form-control my-2 " type="text" placeholder="Apellido" aria-label="default input example">

         <div class="pt-2">
            <h5 class="text-white">Descripción</h5>
            <textarea class="form-control " id="exampleFormControlTextarea1" rows="3" placeholder="Descripción de deuda"></textarea>
         </div>

         <h5 class="text-white pt-2">Monto</h5>
         <input class="form-control form-control-sm " aria-label="default input example" type="text" id="importe" onblur="calcular();" name="importe" size="21" maxlength="21" onkeypress="mascara(this,cpf)" onpaste="return false" placeholder="Monto">		

         <div class="container py-4">
            <button  class="btn boton btn-block font-weight-bold" type="button" > <i class="fas fa-save fa-lg mx-2"></i>GUARDAR</button>
            <div class="container text-center pt-2">
               <button type="button" class="btn boton-rojo font-weight-bold"><i class="fas fa-trash fa-lg mx-2"></i>CANCELAR</button>
            </div>
         </div>
         
      </main>

      <script src="../js/script.js"></script>
      <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script defer src="../../fontawesome-free-5.15.3-web/js/all.js"></script>
   </body>
</html>

