<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=divice-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RODE</title>
	<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/second.css">
</head>

<body class="bg-light">
	  <div class="wrapper d-flex align-items-stretch">
		 <nav id="sidebar">
			<div class="custom-menu">
			   <button type="button" id="menu-btn">
			   		<i class="fa fa-bars"></i>
			   </button>
			</div>
			<div class="container">
			   <h1 class="font-weight-bold text-center text-white pt-5">MENÚ</h1>
			   <h2 class="h6 pb-5 text-center texto-cyan">SELECCIONE SU OPCIÓN</h2>
			   <ul class="list-unstyled text-center">
				  <li class="py-3">
					 <a class="font-weight-bold boton-sidebar px-5 py-2" href="#" id="form-debtor"><span class="fas fa-user-plus fa-lg texto-cyan mr-2"></span> AGREGAR</a>
				  </li>
				  <li class="py-3">
					 <a class="font-weight-bold boton-sidebar px-5 py-2" href="#"><span class="fas fa-user-times fa-lg texto-cyan mr-2"></span> ELIMINAR</a>
				  </li>
				  <li class="py-3">
					 <a class="font-weight-bold boton-sidebar px-5 py-2" href="#"><span class="fas fa-clipboard-list fa-lg texto-cyan mr-2"></span> VISUALIZAR</a>
				  </li>
				  <li class="py-3">
					 <a class="font-weight-bold boton-sidebar px-5 py-2" href="#"><span class="fas fa-comments fa-lg texto-cyan mr-2"></span> Acerca de...</a>
				  </li>
			   </ul>
			</div>
			<footer class="pt-3 container">
				 <div class="text-center text-white p-3 neuro-box">
				 	<p class="text-center font-weight-bold">@ RODE 2021 </p>
            		Diseñado siempre con <span class="fas fa-heart text-danger"></span> para el cliente
         			</div>
			</footer>
		 </nav>
		 <!-- Page Content  -->
		 <div id="content" class="p-4 p-md-5 pt-5">
			<h2 class="mb-4">Dashboard</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		 </div>
	  </div>
<!-- 	<nav class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
		 <div class="custom-menu my-container active-cont">
			<button type="button" id="menu-btn" class="btn btn-primary">
				<i class="fa fa-bars"></i>
				<span class="sr-only">Toggle Menu</span>
			</button>
		 </div>
		<div class="nav flex-column text-white w-100">
			<h4 class="text-center font-weight-bold pt-3 menu">MENÚ </h4>
			<div class="py-4"></div>
			<button type="button" class="font-weight-bold boton-sidebar btn py-2" id="abrirVentana">AGREGAR
				<i class="fas fa-user-plus fa-lg mx-2 coloreado"></i>
			</button>
			<button type="button" class="font-weight-bold boton-sidebar btn py-2">ELIMINAR
				<i class="fas fa-user-times fa-lg mx-2 coloreado"></i>
			</button>
			<button type="button" class="font-weight-bold boton-sidebar btn py-2">VISUALIZAR
				<i class="fas fa-clipboard-list fa-lg mx-2 coloreado"></i>
			</button>
			<button type="button" class="font-weight-bold boton-sidebar btn py-2">Acerca de...
				<i class="fas fa-comments fa-lg mx-2 coloreado"></i>
			</button>
			<p class="menu pt-5 text-center font-italic px-2">Copyright ©2021 Todos los derechos reservados</p>
		</div>
	</nav>
	<h1>Pancon mortadela</h1> -->
<!-- 	<div class="my-container active-cont pt-5">
		<a class="btn " id="menu-btn">
			<i class="fas fa-angle-double-right fa-lg coloreado"></i>
		</a>
	</div> -->

	<script src="../js/second.js"></script>
	<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script defer src="../../fontawesome-free-5.15.3-web/js/all.js"></script>

</body>

</html>