<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=divice-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>RODE</title>
		<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/second.css">
	</head>
	<body class="bg-light">
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="menu-btn">
					<i class="fas fa-bars"></i>
					</button>
				</div>
				<div class="container">
					<h1 class="fw-bold text-center text-white pt-5">MENÚ</h1>
					<h2 class="h6 pb-5 text-center texto-cyan">SELECCIONE SU OPCIÓN</h2>
					<ul class="list-unstyled text-center navbar-nav">
						<li class="py-3">
							<a class="fw-normal boton-sidebar px-5 py-2 nav-item" href="#" id="form-debtor"><span class="fas fa-user-plus fa-lg texto-cyan mr-2"></span> AGREGAR</a>
						</li>
						<li class="py-3">
							<a class="fw-normal boton-sidebar px-5 py-2" href="#"><span class="fas fa-user-times fa-lg texto-cyan mr-2"></span> ELIMINAR</a>
						</li>
						<li class="py-3">
							<a class="fw-normal boton-sidebar px-5 py-2" href="#"><span class="fas fa-clipboard-list fa-lg texto-cyan mr-2"></span> VISUALIZAR</a>
						</li>
						<li class="py-3">
							<a class="fw-normal boton-sidebar px-5 py-2" href="#"><span class="fas fa-comments fa-lg texto-cyan mr-2"></span> Acerca de...</a>
						</li>
					</ul>
				</div>
				<footer class="pt-3 container">
					<div class="text-center text-white p-3">
						<p class="text-center fw-bold">@ RODE 2021 </p>
						Diseñado siempre con <span class="fas fa-heart text-danger"></span> para el cliente
					</div>
				</footer>
			</nav>
			<!-- Page Content  -->
			<div id="content" class="p-4 p-md-5 pt-5">
				<h2 class="mb-4 fw-bold fs-1">Dashboard</h2>
				<h3>Seleccione los deudores:</h3>
			</div>
		</div>
		<script src="../js/second.js"></script>
		<script src="../js/main.js"></script>
	</body>
</html>