@import url(styles.css);

.boton-sidebar{
	background-color: transparent;
	color: white;
	border-bottom: 1px solid var(--cyan-ligth);
}

.boton-sidebar:focus{
	border-left: 6px solid var(--cyan-ligth);
	box-shadow: none;
	color: var(--cyan-ligth);
}

.boton-sidebar:hover{
	color: var(--cyan-ligth);
}

.active-nav {
  margin-left: -16.9rem;
}

.active-cont {
  margin-left: 400px;
}

 .custom-menu{
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 0;
	margin-right: -20px;
	transition: .3s;
}

#menu-btn{
	box-shadow: none !important;
	width: 40px;
	height: 50px;
	border-bottom-right-radius: 26px;
	border-top-right-radius: 26px;
	background-color: var(--cyan-dark);
	color: white;
	border: none;
	margin-right: -.7rem;

}

#sidebar{
	min-width: 270px;
	max-width: 270px;
	background-color: var(--cyan-dark);
	position: relative;
	transition: .4s;
}

#content{
	width: 100%;
	padding: 0;
	min-height: 100vh;
	transition: all 0.3s;
}

.neuro-box{
	border-radius: 6px;
	background: linear-gradient(145deg, #2d3b52, #364761);
	box-shadow:  10px 10px 30px #1e2736,
	             -10px -10px 30px #475d80;
}