*{
	margin:0;
	padding: 0;
	box-sizing: border-box; 
	font-family: Roboto;
}
/*Paleta Colores*/
:root{
	--main-cyan: #00BFA5;
	--cyan-ligth: #1BD6B9;
	--cyan-dark: #32425B;
	--grey-ligth: #D3D7CF;
	--pastel-red: #d64d55;
}

body{
	background-color: var(--cyan-dark);
}

a:hover {
	text-decoration: none;
}

.texto-cyan {
	color: var(--cyan-ligth) ;
}

.coloreado{
	color: var(--cyan-dark);
}

.boton{
	color: var(--cyan-dark);
	border-radius: 6px;
	background: var(--main-cyan);
	}

.boton:hover{
	box-shadow: 0 0 10px #107e6d, 
	0 0 20px #26ffff, 0 0 100px #26ffff !important;
	background-color: transparent;
	border: solid 2px var(--cyan-ligth);
	color: white; 
}

.boton-rojo{
	background-color: var(--pastel-red);
}

hr{
	background-color: var(--main-cyan) ;
	height: 5px ;
	border-radius: 5px;
}

input, textarea{
	border-color: var(--main-cyan) !important;
	background-color: transparent !important;
	color: white !important;
}

textarea::placeholder{
	color: var(--grey-ligth) !important;
}

input::placeholder{
	color: var(--grey-ligth) !important;
}

.id-card{
	margin-bottom: -10px;
	border: 0;
	background-color: white;
	border-radius: 10px;
	width: 30px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.box-shadow{
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}